body{

font-family:Arial;

background:linear-gradient(135deg,#064e3b,#022c22);

color:white;

text-align:center;

}

header{

background:#022c22;

padding:20px;

}

header h1{

color:#ffd700;

}

.chatbox{

height:300px;

overflow:auto;

background:#013220;

padding:10px;

margin:20px;

border-radius:10px;

}

input,textarea{

width:80%;

padding:10px;

margin:10px;

border-radius:10px;

border:none;

}

button{

padding:10px 20px;

background:#22c55e;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}

button:hover{

background:#16a34a;

}
